html, body {
    height: 100%;
}
section {
    height: 100%;
}
body, h1, p, h2 {
    padding: 0;
    margin: 0;
}
.banner {
    background-color: #eaeaea;
    position: relative;
}
.menu {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
}
.main-logo {
    width: 70%;
    margin: 0 auto;
    margin-top: 160px;
}
h1 {
    font-size: 160px;
    text-transform: uppercase;
    color: #7A797A;
    opacity: 0.25;
}
.main-logo p {
    font-size: 48px;
    line-height: 48px;
    color: #7a797a;
}

.banner img {
    position: absolute;
    width: 400px;
    bottom: 0;
    left: 42%;
    height: auto;
}
.background {
    width: 100%;
    height: 80%;
    background-color: #4a4a4a;
    position: absolute;
    z-index: -1;
}
.plants-wrapper {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    padding-top: 100px;
}
.slider-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.vertical {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 48px;
    line-height: 65px;
    margin-right: 28px;
    color: #fff;
}
.slider-wrapper img {
    width: 100%;
    height: auto;
}
.slider-content {
    padding-left: 64px;
}
h2 {
    margin-bottom: 16px;
    font-size: 36px;
    letter-spacing: 16px;
    line-height: 36px;
    color: #fff;
}
.slider-content p {
    color: #fff;
    font-size: 18px;
    text-align: justify;
    line-height: 24px;
}
.navigation {
    margin-left: 52px;
    margin-top: 132px;
}
.indicator {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 72px;
}
.active-slide {
    height: 4px;
    width: 100%;
    background-color: #fff;
    border-radius: 50%;
}
.another-slide {
    height: 2px;
    width: 100%;
    background-color: #fff;
    opacity: 0.6;
    align-self: center;
}
.view-1st {
    display: flex;
    justify-content: center;
    margin-top: 164px;
}
a {
    text-decoration-line: unset;
    font-size: 17px;
    text-transform: uppercase;
    display: flex;
    border: 2px solid;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 32px;
    padding-right: 14px;
    color: #7A797A;  
}
.vases_pots{
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.main-content {
    display: flex;
    margin: 0 auto;
}
.main-content div{
    width: min-content;
}
.vertical-vases {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 28px;
    line-height: 64px;
    margin-right: 28px;
    color: #7A797A;
    text-transform: uppercase;
}
img {
    height: 360px;
    width: auto;
}
.text-image2 {
    text-align: right;
    width: 70%;
    margin-left: auto;
}
.image-2 {
    padding-left: 8px;
}
.main-content .view-1st {
    width: fit-content;
    margin-top: 64px;
}
.vases_pots > img {
    bottom: 0;
    left: 64px;
    position: absolute;
    height: auto;
    width: 160px
}

